.card {
  width: 17.5rem;
  height: 100%;

  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;

  font-size: 0.875rem;

  color: var(--white);
  background: var(--black);
}

a {
  color: white;
  text-decoration: none;
}

.image {
  height: 100%;
}

.image img {
  width: 100%;
  height: 23rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
}
